<footer id="footer">
   <ul class="icons">
      <li><a href="http://twitter.com/plutus_" class="fa fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="fa fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="http://medium.com/plutus" class="fa fa-medium"><span class="label">Medium</span></a></li>
      <li><a href="mailto:hello@plutus.io" class="fa fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  <div class="copyright">
    &copy; Plutus Finance, Inc.  All rights reserved.
  </div>
</footer>